.bv-example-row {
    width: 60%;
}
.box-img img {
    border: 1px solid #ddd;
    max-width: 100%;
}
.compare-price {
    font-size: 16px;
    opacity: 0.7;
}
.discount {
    color: #f00;
    font-size: 12px;
    margin-left: 10px;
}
.img-thumnail img {
    border: 1px solid #ccc;
    cursor: pointer;
}
header {
    background: #000;
    color: #fff;
    padding: 5px 0;
}
footer p {
    background: #000;
    padding: 30px 0;
    color: #fff;
    font-size: 20px;
}