<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video 17 - Bài tập thực hành 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.18.1/bootstrap-vue.min.js"></script>
</head>
<body>
    <header><h1>Header Logo</h1></header>
    <div class="list-block">
            <ul>
                <li>Data binding - ràng buộc dữ liệu</li>
                <li>Javascript Expression</li>
            </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequuntur eveniet quos? Necessitatibus, odio! Id sequi nesciunt quam earum, magnam accusantium odio aliquam velit itaque, eos sapiente dignissimos placeat expedita?</p>
    </div>
    <div id="app">
        <b-container class="bv-example-row">
        <b-row class="mb-5">
            <b-col cols="4" class="box-img">
                <img v-bind:src="getProduct.image" alt="">
            </b-col>
            <b-col>
                <h3 class="title">
                    <a v-bind:href="url" v-bind:target="target">{{title}}</a>
                </h3>
                <p>Brand: No Brand</p>
                <div class="quantity" v-if="getProduct.quantity>0">Còn lại: {{getProduct.quantity}} Sản phẩm</div>
                <div class="quantity" v-if="getProduct.quantity<=0">Sản phẩm đã hết hàng</div>
                <p class="price">{{formatFinalPrice}}</p>
                <p class="compare-price">{{formatOriginalPrice}}<span class="discount">{{sale*100}}%</span></p>
                <b-row>
                    <b-col cols="2">{{getProduct.variant}}</b-col>
                    <b-col cols="10" class="img-thumnail">
                        <b-list-group horizontal>
                            <b-list-group-item 
                                v-for="(item,index) in listProductDetail"
                                v-on:click="handleClickColor($event,index)"
                                v-bind:class="classActive(index)"
                                v-bind:key="index"
                            >
                                <img v-bind:src="item.image" width="50" v-bind:alt="item.variant">
                            </b-list-group-item>
                        </b-list-group>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <b-row>
            <h3>CHI TIẾT SẢN PHẨM</h3>
            <p>🔸 Chất liệu:vải Cá Sấu #cotton , mịn mát, không RÚT!<br>🔸 Co giãn 4 chiều giúp bạn thoải mái hoạt động<br>🔸 5 size: S, M, L, XL, XXL từ 50-90kg<br>👉 Nếu vẫn chưa biết chọn size, màu thì bạn chỉ cần để lại (.) hoặc #inbox, nhân viên sẽ liên hệ tư vấn ngay cho bạn.</p>
        </b-row>
        </b-container>
    </div>
    <footer><p>Footer</p></footer>
    <script src="main.js"></script>
</body>
</html>