<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video 13 - List rendering vòng lặp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
    <!-- v-mode -->
    <div id="app">
        <div class="container">
            <ul>
                <li class="user" v-for="user in arrUser" v-if="user.isActive">{{user.email}}</li>
            </div>
          </div>
    </div>
</body>      
<script>
    var app = new Vue({
        el: '#app',
        data: {
            arrUser: [
                { email:'test01@gmail.com', isActive: false },
                { email:'test02@gmail.com', isActive: true },
                { email:'test03@gmail.com', isActive: false },
                { email:'test04@gmail.com', isActive: true },
                { email:'test05@gmail.com', isActive: false }
            ]
        }
    })
</script>
</html>